DHUOnlineJudge/dhuoj-app-client/src/conf/wsdl/client/WSUserAccountService/localhost_8080/dhuoj/WSUserAccountService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.dhuoj/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.dhuoj/" name="WSUserAccountService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.dhuoj/" schemaLocation="http://localhost:8080/dhuoj/WSUserAccountService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"></part>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"></part>
</message>
<message name="UserRegisterFailException">
<part name="fault" element="tns:UserRegisterFailException"></part>
</message>
<message name="login">
<part name="parameters" element="tns:login"></part>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"></part>
</message>
<portType name="WSUserAccount">
<operation name="register">
<input message="tns:register"></input>
<output message="tns:registerResponse"></output>
<fault message="tns:UserRegisterFailException" name="UserRegisterFailException"></fault>
</operation>
<operation name="login">
<input message="tns:login"></input>
<output message="tns:loginResponse"></output>
</operation>
</portType>
<binding name="WSUserAccountPortBinding" type="tns:WSUserAccount">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="register">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="UserRegisterFailException">
<soap:fault name="UserRegisterFailException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="login">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WSUserAccountService">
<port name="WSUserAccountPort" binding="tns:WSUserAccountPortBinding">
<soap:address location="http://localhost:8080/dhuoj/WSUserAccountService"></soap:address>
</port>
</service>
</definitions>