branches/dhuoj-v2.0/dhuoj_client/xml-resources/web-service-references/ContestService/wsdl/acm.dhu.edu.cn_80/dhuoj/ContestService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.oj.acm.dhu.edu.cn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.oj.acm.dhu.edu.cn/" name="ContestServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.oj.acm.dhu.edu.cn/" schemaLocation="http://acm.dhu.edu.cn:80/dhuoj/ContestService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="submitCode">
<part name="parameters" element="tns:submitCode"></part>
</message>
<message name="submitCodeResponse">
<part name="parameters" element="tns:submitCodeResponse"></part>
</message>
<message name="SubmitFailException">
<part name="fault" element="tns:SubmitFailException"></part>
</message>
<message name="querySubmitStatus">
<part name="parameters" element="tns:querySubmitStatus"></part>
</message>
<message name="querySubmitStatusResponse">
<part name="parameters" element="tns:querySubmitStatusResponse"></part>
</message>
<message name="getContestList">
<part name="parameters" element="tns:getContestList"></part>
</message>
<message name="getContestListResponse">
<part name="parameters" element="tns:getContestListResponse"></part>
</message>
<message name="getContestDetail">
<part name="parameters" element="tns:getContestDetail"></part>
</message>
<message name="getContestDetailResponse">
<part name="parameters" element="tns:getContestDetailResponse"></part>
</message>
<message name="ContestException">
<part name="fault" element="tns:ContestException"></part>
</message>
<portType name="ContestService">
<operation name="submitCode">
<input message="tns:submitCode"></input>
<output message="tns:submitCodeResponse"></output>
<fault message="tns:SubmitFailException" name="SubmitFailException"></fault>
</operation>
<operation name="querySubmitStatus">
<input message="tns:querySubmitStatus"></input>
<output message="tns:querySubmitStatusResponse"></output>
</operation>
<operation name="getContestList">
<input message="tns:getContestList"></input>
<output message="tns:getContestListResponse"></output>
</operation>
<operation name="getContestDetail">
<input message="tns:getContestDetail"></input>
<output message="tns:getContestDetailResponse"></output>
<fault message="tns:ContestException" name="ContestException"></fault>
</operation>
</portType>
<binding name="ContestServicePortBinding" type="tns:ContestService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="submitCode">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SubmitFailException">
<soap:fault name="SubmitFailException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="querySubmitStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getContestList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getContestDetail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ContestException">
<soap:fault name="ContestException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="ContestServiceService">
<port name="ContestServicePort" binding="tns:ContestServicePortBinding">
<soap:address location="http://acm.dhu.edu.cn:80/dhuoj/ContestService"></soap:address>
</port>
</service>
</definitions>