trunk/dhuoj/web/WEB-INF/wsdl/client/WSUserFacade/acm.dhu.edu.cn/primeserver/WSUserFacade.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://user.facade.buslogic.oj.acm.dhu.edu.cn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://user.facade.buslogic.oj.acm.dhu.edu.cn/" name="WSUserFacadeService">
<types>
<xsd:schema>
<xsd:import namespace="http://user.facade.buslogic.oj.acm.dhu.edu.cn/" schemaLocation="http://acm.dhu.edu.cn:80/primeserver/WSUserFacade?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="register">
<part name="parameters" element="tns:register"></part>
</message>
<message name="registerResponse">
<part name="parameters" element="tns:registerResponse"></part>
</message>
<message name="UserRegisterFailException">
<part name="fault" element="tns:UserRegisterFailException"></part>
</message>
<message name="login">
<part name="parameters" element="tns:login"></part>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"></part>
</message>
<portType name="WSUserFacade">
<operation name="register">
<input message="tns:register"></input>
<output message="tns:registerResponse"></output>
<fault message="tns:UserRegisterFailException" name="UserRegisterFailException"></fault>
</operation>
<operation name="login">
<input message="tns:login"></input>
<output message="tns:loginResponse"></output>
</operation>
</portType>
<binding name="WSUserFacadePortBinding" type="tns:WSUserFacade">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="register">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="UserRegisterFailException">
<soap:fault name="UserRegisterFailException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="login">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WSUserFacadeService">
<port name="WSUserFacadePort" binding="tns:WSUserFacadePortBinding">
<soap:address location="http://acm.dhu.edu.cn:80/primeserver/WSUserFacade"></soap:address>
</port>
</service>
</definitions>