trunk/performance_test/src/META-INF/wsdl/acm.dhu.edu.cn_80/dhuoj/MessageService.xsd_2.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://message.facade.buslogic.oj.acm.dhu.edu.cn/">

<xs:complexType name="messageBean">
<xs:sequence>
<xs:element name="messageId" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="question" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="response" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="status" type="xs:int"></xs:element>
<xs:element name="userId" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="messageForm">
<xs:sequence>
<xs:element name="messageID" type="xs:int"></xs:element>
<xs:element name="question" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="response" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="userID" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>