trunk/performance_test/src/META-INF/wsdl/acm.dhu.edu.cn_80/dhuoj/UserAccountService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><xs:schema xmlns:tns="http://webservice.oj.acm.dhu.edu.cn/" xmlns:ns1="http://user.facade.buslogic.oj.acm.dhu.edu.cn/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.oj.acm.dhu.edu.cn/">

<xs:import namespace="http://user.facade.buslogic.oj.acm.dhu.edu.cn/" schemaLocation="http://acm.dhu.edu.cn:80/dhuoj/UserAccountService?xsd=2"></xs:import>

<xs:element name="Exception" type="tns:Exception"></xs:element>

<xs:element name="login" type="tns:login"></xs:element>

<xs:element name="loginResponse" type="tns:loginResponse"></xs:element>

<xs:element name="register" type="tns:register"></xs:element>

<xs:element name="registerResponse" type="tns:registerResponse"></xs:element>

<xs:complexType name="login">
<xs:sequence>
<xs:element name="parameter" type="ns1:loginForm" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="loginResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="register">
<xs:sequence>
<xs:element name="registerForm" type="ns1:registerForm" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="registerResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>