trunk/dhuoj/src/conf/xml-resources/web-service-references/WSContestFacade/wsdl/acm.dhu.edu.cn/primeserver/WSContestFacade.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://contest.facade.buslogic.oj.acm.dhu.edu.cn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://contest.facade.buslogic.oj.acm.dhu.edu.cn/" name="WSContestFacadeService">
<types>
<xsd:schema>
<xsd:import namespace="http://contest.facade.buslogic.oj.acm.dhu.edu.cn/" schemaLocation="http://acm.dhu.edu.cn:80/primeserver/WSContestFacade?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="submitCode">
<part name="parameters" element="tns:submitCode"></part>
</message>
<message name="submitCodeResponse">
<part name="parameters" element="tns:submitCodeResponse"></part>
</message>
<message name="SubmitFailException">
<part name="fault" element="tns:SubmitFailException"></part>
</message>
<message name="querySubmitStatus">
<part name="parameters" element="tns:querySubmitStatus"></part>
</message>
<message name="querySubmitStatusResponse">
<part name="parameters" element="tns:querySubmitStatusResponse"></part>
</message>
<message name="queryContestLoginStatus">
<part name="parameters" element="tns:queryContestLoginStatus"></part>
</message>
<message name="queryContestLoginStatusResponse">
<part name="parameters" element="tns:queryContestLoginStatusResponse"></part>
</message>
<message name="querySubmitStatusByContest">
<part name="parameters" element="tns:querySubmitStatusByContest"></part>
</message>
<message name="querySubmitStatusByContestResponse">
<part name="parameters" element="tns:querySubmitStatusByContestResponse"></part>
</message>
<message name="getProblemsByContest">
<part name="parameters" element="tns:getProblemsByContest"></part>
</message>
<message name="getProblemsByContestResponse">
<part name="parameters" element="tns:getProblemsByContestResponse"></part>
</message>
<message name="getContest">
<part name="parameters" element="tns:getContest"></part>
</message>
<message name="getContestResponse">
<part name="parameters" element="tns:getContestResponse"></part>
</message>
<message name="getContests">
<part name="parameters" element="tns:getContests"></part>
</message>
<message name="getContestsResponse">
<part name="parameters" element="tns:getContestsResponse"></part>
</message>
<message name="getUsersByRank">
<part name="parameters" element="tns:getUsersByRank"></part>
</message>
<message name="getUsersByRankResponse">
<part name="parameters" element="tns:getUsersByRankResponse"></part>
</message>
<message name="getContestReservation">
<part name="parameters" element="tns:getContestReservation"></part>
</message>
<message name="getContestReservationResponse">
<part name="parameters" element="tns:getContestReservationResponse"></part>
</message>
<message name="getContestDetail">
<part name="parameters" element="tns:getContestDetail"></part>
</message>
<message name="getContestDetailResponse">
<part name="parameters" element="tns:getContestDetailResponse"></part>
</message>
<message name="ContestException">
<part name="fault" element="tns:ContestException"></part>
</message>
<message name="getContestByStatus">
<part name="parameters" element="tns:getContestByStatus"></part>
</message>
<message name="getContestByStatusResponse">
<part name="parameters" element="tns:getContestByStatusResponse"></part>
</message>
<portType name="WSContestFacade">
<operation name="submitCode">
<input message="tns:submitCode"></input>
<output message="tns:submitCodeResponse"></output>
<fault message="tns:SubmitFailException" name="SubmitFailException"></fault>
</operation>
<operation name="querySubmitStatus">
<input message="tns:querySubmitStatus"></input>
<output message="tns:querySubmitStatusResponse"></output>
</operation>
<operation name="queryContestLoginStatus">
<input message="tns:queryContestLoginStatus"></input>
<output message="tns:queryContestLoginStatusResponse"></output>
</operation>
<operation name="querySubmitStatusByContest">
<input message="tns:querySubmitStatusByContest"></input>
<output message="tns:querySubmitStatusByContestResponse"></output>
</operation>
<operation name="getProblemsByContest">
<input message="tns:getProblemsByContest"></input>
<output message="tns:getProblemsByContestResponse"></output>
</operation>
<operation name="getContest">
<input message="tns:getContest"></input>
<output message="tns:getContestResponse"></output>
</operation>
<operation name="getContests">
<input message="tns:getContests"></input>
<output message="tns:getContestsResponse"></output>
</operation>
<operation name="getUsersByRank">
<input message="tns:getUsersByRank"></input>
<output message="tns:getUsersByRankResponse"></output>
</operation>
<operation name="getContestReservation">
<input message="tns:getContestReservation"></input>
<output message="tns:getContestReservationResponse"></output>
</operation>
<operation name="getContestDetail">
<input message="tns:getContestDetail"></input>
<output message="tns:getContestDetailResponse"></output>
<fault message="tns:ContestException" name="ContestException"></fault>
</operation>
<operation name="getContestByStatus">
<input message="tns:getContestByStatus"></input>
<output message="tns:getContestByStatusResponse"></output>
</operation>
</portType>
<binding name="WSContestFacadePortBinding" type="tns:WSContestFacade">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="submitCode">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SubmitFailException">
<soap:fault name="SubmitFailException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="querySubmitStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="queryContestLoginStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="querySubmitStatusByContest">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getProblemsByContest">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getContest">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getContests">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getUsersByRank">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getContestReservation">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="getContestDetail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ContestException">
<soap:fault name="ContestException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getContestByStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WSContestFacadeService">
<port name="WSContestFacadePort" binding="tns:WSContestFacadePortBinding">
<soap:address location="http://acm.dhu.edu.cn:80/primeserver/WSContestFacade"></soap:address>
</port>
</service>
</definitions>