dhuoj_client/xml-resources/web-service-references/MessageService/wsdl/acm.dhu.edu.cn_80/dhuoj/MessageService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.oj.acm.dhu.edu.cn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.oj.acm.dhu.edu.cn/" name="MessageServiceService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.oj.acm.dhu.edu.cn/" schemaLocation="http://acm.dhu.edu.cn:80/dhuoj/MessageService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="postMessage">
<part name="parameters" element="tns:postMessage"></part>
</message>
<message name="postMessageResponse">
<part name="parameters" element="tns:postMessageResponse"></part>
</message>
<message name="MessageException">
<part name="fault" element="tns:MessageException"></part>
</message>
<message name="queryMessageStatus">
<part name="parameters" element="tns:queryMessageStatus"></part>
</message>
<message name="queryMessageStatusResponse">
<part name="parameters" element="tns:queryMessageStatusResponse"></part>
</message>
<portType name="MessageService">
<operation name="postMessage">
<input message="tns:postMessage"></input>
<output message="tns:postMessageResponse"></output>
<fault message="tns:MessageException" name="MessageException"></fault>
</operation>
<operation name="queryMessageStatus">
<input message="tns:queryMessageStatus"></input>
<output message="tns:queryMessageStatusResponse"></output>
<fault message="tns:MessageException" name="MessageException"></fault>
</operation>
</portType>
<binding name="MessageServicePortBinding" type="tns:MessageService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="postMessage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="MessageException">
<soap:fault name="MessageException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="queryMessageStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="MessageException">
<soap:fault name="MessageException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="MessageServiceService">
<port name="MessageServicePort" binding="tns:MessageServicePortBinding">
<soap:address location="http://acm.dhu.edu.cn:80/dhuoj/MessageService"></soap:address>
</port>
</service>
</definitions>