branches/dhuoj-v3.0/DHUOnlineJudge/dhuoj-app-client/src/conf/wsdl/client/WSContestService/localhost_8080/dhuoj/WSContestService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webservice.dhuoj/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webservice.dhuoj/" name="WSContestService">
<types>
<xsd:schema>
<xsd:import namespace="http://webservice.dhuoj/" schemaLocation="http://localhost:8080/dhuoj/WSContestService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getContestDetail">
<part name="parameters" element="tns:getContestDetail"></part>
</message>
<message name="getContestDetailResponse">
<part name="parameters" element="tns:getContestDetailResponse"></part>
</message>
<message name="ContestException">
<part name="fault" element="tns:ContestException"></part>
</message>
<message name="querySubmitStatus">
<part name="parameters" element="tns:querySubmitStatus"></part>
</message>
<message name="querySubmitStatusResponse">
<part name="parameters" element="tns:querySubmitStatusResponse"></part>
</message>
<message name="submitCode">
<part name="parameters" element="tns:submitCode"></part>
</message>
<message name="submitCodeResponse">
<part name="parameters" element="tns:submitCodeResponse"></part>
</message>
<message name="getContestList">
<part name="parameters" element="tns:getContestList"></part>
</message>
<message name="getContestListResponse">
<part name="parameters" element="tns:getContestListResponse"></part>
</message>
<portType name="WSContest">
<operation name="getContestDetail">
<input message="tns:getContestDetail"></input>
<output message="tns:getContestDetailResponse"></output>
<fault message="tns:ContestException" name="ContestException"></fault>
</operation>
<operation name="querySubmitStatus">
<input message="tns:querySubmitStatus"></input>
<output message="tns:querySubmitStatusResponse"></output>
</operation>
<operation name="submitCode">
<input message="tns:submitCode"></input>
<output message="tns:submitCodeResponse"></output>
<fault message="tns:ContestException" name="ContestException"></fault>
</operation>
<operation name="getContestList">
<input message="tns:getContestList"></input>
<output message="tns:getContestListResponse"></output>
</operation>
</portType>
<binding name="WSContestPortBinding" type="tns:WSContest">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getContestDetail">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ContestException">
<soap:fault name="ContestException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="querySubmitStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="submitCode">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ContestException">
<soap:fault name="ContestException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getContestList">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="WSContestService">
<port name="WSContestPort" binding="tns:WSContestPortBinding">
<soap:address location="http://localhost:8080/dhuoj/WSContestService"></soap:address>
</port>
</service>
</definitions>