dhuoj/src/conf/xml-resources/web-service-references/WSMessageFacade/wsdl/localhost_8084/primeserver/WSMessageFacade.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://message.facade.buslogic.oj.acm.dhu.edu.cn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://message.facade.buslogic.oj.acm.dhu.edu.cn/" name="WSMessageFacadeService">
<types>
<xsd:schema>
<xsd:import namespace="http://message.facade.buslogic.oj.acm.dhu.edu.cn/" schemaLocation="http://localhost:8084/primeserver/WSMessageFacade?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="submitMessage">
<part name="parameters" element="tns:submitMessage"></part>
</message>
<message name="submitMessageResponse">
<part name="parameters" element="tns:submitMessageResponse"></part>
</message>
<message name="MessageException">
<part name="fault" element="tns:MessageException"></part>
</message>
<message name="queryMessageStatus">
<part name="parameters" element="tns:queryMessageStatus"></part>
</message>
<message name="queryMessageStatusResponse">
<part name="parameters" element="tns:queryMessageStatusResponse"></part>
</message>
<portType name="WSMessageFacade">
<operation name="submitMessage">
<input message="tns:submitMessage"></input>
<output message="tns:submitMessageResponse"></output>
<fault message="tns:MessageException" name="MessageException"></fault>
</operation>
<operation name="queryMessageStatus">
<input message="tns:queryMessageStatus"></input>
<output message="tns:queryMessageStatusResponse"></output>
<fault message="tns:MessageException" name="MessageException"></fault>
</operation>
</portType>
<binding name="WSMessageFacadePortBinding" type="tns:WSMessageFacade">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="submitMessage">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="MessageException">
<soap:fault name="MessageException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="queryMessageStatus">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="MessageException">
<soap:fault name="MessageException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="WSMessageFacadeService">
<port name="WSMessageFacadePort" binding="tns:WSMessageFacadePortBinding">
<soap:address location="http://localhost:8084/primeserver/WSMessageFacade"></soap:address>
</port>
</service>
</definitions>