trunk/performance_test/xml-resources/web-service-references/ContestService/wsdl/acm.dhu.edu.cn_80/dhuoj/ContestService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.4-b01-. --><xs:schema xmlns:tns="http://webservice.oj.acm.dhu.edu.cn/" xmlns:ns1="http://contest.facade.buslogic.oj.acm.dhu.edu.cn/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://webservice.oj.acm.dhu.edu.cn/">

<xs:import namespace="http://contest.facade.buslogic.oj.acm.dhu.edu.cn/" schemaLocation="http://acm.dhu.edu.cn:80/dhuoj/ContestService?xsd=2"></xs:import>

<xs:element name="Exception" type="tns:Exception"></xs:element>

<xs:element name="getContestDetail" type="tns:getContestDetail"></xs:element>

<xs:element name="getContestDetailResponse" type="tns:getContestDetailResponse"></xs:element>

<xs:element name="getContestList" type="tns:getContestList"></xs:element>

<xs:element name="getContestListResponse" type="tns:getContestListResponse"></xs:element>

<xs:element name="querySubmitStatus" type="tns:querySubmitStatus"></xs:element>

<xs:element name="querySubmitStatusResponse" type="tns:querySubmitStatusResponse"></xs:element>

<xs:element name="submitCode" type="tns:submitCode"></xs:element>

<xs:element name="submitCodeResponse" type="tns:submitCodeResponse"></xs:element>

<xs:complexType name="getContestDetail">
<xs:sequence>
<xs:element name="userID" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="contestID" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getContestDetailResponse">
<xs:sequence>
<xs:element name="return" type="ns1:contestBean" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getContestList">
<xs:sequence>
<xs:element name="firstResult" type="xs:int"></xs:element>
<xs:element name="maxResults" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getContestListResponse">
<xs:sequence>
<xs:element name="return" type="ns1:contestBean" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="submitCode">
<xs:sequence>
<xs:element name="submitForm" type="ns1:submitCodeForm" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="submitCodeResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="querySubmitStatus">
<xs:sequence>
<xs:element name="solutionId" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="querySubmitStatusResponse">
<xs:sequence>
<xs:element name="return" type="ns1:solutionBean" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>